/* Define standard variables and values for website */
$bgcolor: #add8e6;
$bgcolor2: #759900;


/* Use the variables */
.color1 {
  background-color: $bgcolor;
}



.color2 {
background-color: $bgcolor2;
}


